{% extends "index.html" %}

{% block Formulario %}
<div class="container mt-5">
    <h1>Quieres ser parte de la comunidad? <br> Registrate:</h1>
    <form method="POST">
        {% csrf_token %}
        <div data-mdb-input-init class="form-outline mb-4">
        {{ form.correo.label_tag }}
        {{ form.correo }}
        <div id="correo" class="form-text">Ingrese su correo</div>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
        <div id="nombre" class="form-text">Ingrese su Nombre</div>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            {{ form.apellido.label_tag }}
            {{ form.apellido }}
        <div id="apellido" class="form-text">Ingrese su Apellido</div>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>

{% endblock Formulario %}
