<head><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"></head>

<h1>Resultado de la Búsqueda </h1>   
<body>
<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3>Detalles del Estudiante:</h3>
                <p><strong>Nombre:</strong> {{ estudiantes.nombre }}</p>
                <p><strong>Apellido:</strong> {{ estudiantes.apellido }}</p>
                <p><strong>Correo:</strong> {{ estudiantes.correo }}</p>
            </div>
        </div>
    </div>
</form>